@font-face {
  font-family: Poppins-ExtraLight;
  src: url(../../assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(../assets/fonts/Poppins-Light.ttf);
}


@font-face {
  font-family: Poppins-Regular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}


@font-face {
  font-family: Poppins-Bold;
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

$extra-light: "Poppins-ExtraLight";
$light: "Poppins-Light";
$regular: "Poppins";
$medium: "Poppins-Medium";
$semi-bold: "Poppins-SemiBold";
$bold: "Poppins-Bold";

$fonts: (
  "extra-light": $extra-light,
  "light" : $light,
  "regular": $regular,
  "bold": $bold,
  "medium": $medium,
  "semi-bold": $semi-bold,
);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $medium;
}

@for $size from 8 through 100 {
  .fs-#{$size} {
    font-size: #{$size}px !important;
  }
  .lh-#{$size} {
    line-height: #{$size}px !important;
  }
}

@each $name, $font in $fonts {
  .text-#{$name} {
    font-family: $font !important;
  }
}
