// Custom colors

$nv-primary: #EFB810;
$nv-secondary: #B88900;
$nv-tertiary: #EBECF0;
$nv-light-grey: #ACB5C1;
$nv-dark-grey: #939BA6;

$nv-danger: #f0505a;
$nv-info: #88be80;

$nv-light: #FFF;
$nv-dark: #29313C;
