// Custom colors

$nv-dark-primary: #edd580;
$nv-dark-secondary: #4A5564;
$nv-dark-tertiary: #353E49;
$nv-dark-light-grey: #9CA2AD;
$nv-dark-accent: #edd580;

$nv-dark-tertiary-opacity: rgba(53, 62, 73, 0.65);

$nv-light-primary: #edd580;
$nv-light-secondary: #dcdcdc;
$nv-light-tertiary:  #868E9B;
$nv-light-light-grey: #9CA2AD;
$nv-light-accent: #5a5a58;

$nv-light-tertiary-opacity: rgba(220, 220, 220, 0.65);

$nv-danger: #f0505a;
$nv-info: #24B97A;
$nv-dark-red : #f62b2b;

$nv-light: #f5f5f5;
$nv-dark: #1d2229;

$nv-ultra-dark: #161B22;
$nv-light-grey: #D8D8D8
