// Custom colors

$nv-dark-primary: #016608;
$nv-dark-secondary: #4A5564;
$nv-dark-tertiary: #353E49;
$nv-dark-light-grey: #9CA2AD;
$nv-dark-accent: rgba(109, 197, 1, 1);

$nv-dark-tertiary-opacity: rgba(53, 62, 73, 0.65);

$nv-light-primary: #52B301;
$nv-light-secondary: #F5F5F5;
$nv-light-tertiary:  #868E9B;
$nv-light-light-grey: #9CA2AD;
$nv-light-accent: #29313C;

$nv-light-tertiary-opacity: rgba(134, 142, 155, 0.65);

$nv-danger: #f0505a;
$nv-info: #24B97A;
$nv-dark-red : #B92424;

$nv-light: #FFF;
$nv-dark: #1d2229;

$nv-ultra-dark: #161B22;
